* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

@font-face {
    font-family: Plus Jakarta Sans;
    src: url(../public/PlusJakartaSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: Plus Jakarta Sans Bold;
    src: url(../public/PlusJakartaSans-VariableFont_wght.ttf);
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #ffffffff;
    color: #fff;
    padding-top: 100px;
}

nav {
    display: flex;
    padding: 20px 35px;
    background-color: #1E6D74;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* Announcement Bar */
.announcement {
  background-color: #1E6D74;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-weight: 500;
}

.announcement a {
  color: var(--putih);
  font-weight: 600;
  margin-left: 5px;
  text-decoration: underline;
}


.img a {
    color: white;
    display: flex;
    text-decoration: none;
    align-items: center;

}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    padding: 8px 12px;
    color: white;
    font-size: 18px;
}

.search-container {
    position: relative;
    padding: 0px 8px 0px 10px;
    border-radius: 50px;
    background-color: #1A566A;
    /* border-width: 3px; */
    border: #3C8CA5 1.4px solid;
    /* color: #237792; */
    display: flex;
    justify-content: center;
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); */
}

.search-container input {
    width: 100%;
    font-size: 16px;
    color: #4fffed;
    padding: 10px;
    border: 0;
    outline: none;
    background-color: transparent;
}

input[id="search"]::placeholder {
  color: #3C8CA5;
}

nav form {
    width: 800px;
}

nav i{ 
    color: #4fffed;
    padding-right: 10px;
}   

nav li{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

nav li:hover {
    background-color: #1A566A;
    border: #3C8CA5 0.5px solid;
    border-radius: 50px;
    color:#fff;
}


form img {
    width: 20px;
}

form button {
    border: none;
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
}


li:hover {
    background-color: #3C8CA5;
    border-radius: 50px;
    color:#fff;
}

.banner {
    height: 500px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 25px 100px;
    background-image: url(../public/images/backbir.jpg);
    background-size: cover;
    box-shadow: 0px 5px 10px rgba(93, 93, 93, 0.46);
    margin-top: 90px;
}

.main-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.main-text .main-textleft {
    display: block;
    width: 100%;
    color: black;
}

.main-text .main-textleft .info h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.main-text .main-textleft .info p {
    font-size: 18px;
    margin-bottom: 20px;
}

.main-text .main-textright {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.main-text .main-textright img {
    top: 5px;
    height: 500px;
    width: 650px;
    max-width: 100%;
    text-align: center;
    margin-top: -25px;
}

.tag {
    padding: 20px 35px;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 5px;
}

.box {
    width: 130px;
    height: 130px;
    background: #ffffff;
    position: relative;
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    transition: 0.5s ease-in-out;
}

.box:hover:before {
    opacity: 1;
}

.box img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius:10px;
    object-fit: scale-down;
}

.box:hover{
    filter:brightness(0.5);
}

.box .info {
    position: relative;
    z-index: 3;
    opacity: 0;
    width: 100%;
    transition: 0.5s all;
    background-color: #000;
}

.box:hover .info {
    opacity: 1;
}

.box h3 {
    padding: 20px;
    font-size: 15px;
    margin-top:80px ;
    text-align: center;
}

.info a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.tag {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 20px 0;
    align-items: center;
}

.tag a,
.details a,
.cart a {
    text-decoration: none;
}

.button {
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    background: #1A566A;
    border: #3C8CA5 1.4px solid;
    border-radius: 50px;
    color: #fff;
    padding: 5px 20px;
}

.like {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

.products .card {
    width: 250px;
    height: 400px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}

.products .card img {
    height: 150px;
    width: 100%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}

.card-container-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 1060px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.specifications {
    padding-bottom: 5px;
    display: flex;
    gap: 5px;
}

.specifications p {
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    background-color: #ddd;
}

.quantity p {
    padding-bottom: 5px;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 320px;
    border-radius: 21px;
    background: linear-gradient(0deg, #031e27 5.77%, #0a3746 32.21%, #16627b 56.25%, #228db1 78.85%);
    border: 3px solid #14394d;
    box-sizing: border-box;
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); */
    overflow: hidden;
    color: #fff;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.card img {
    width: 320px;
    height: 320px;
    object-fit: cover;
}

.card-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.color-product {
    padding-bottom: 5px;
}

.color-wishlist {
    display: flex;
    justify-content: space-between;
}

.color-product img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #8c8c8c;
}

.desk {
    padding-bottom: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desk h5 {
    margin: 0;
    color: #FFF;
    font-size: 22px;
}

.specification {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    gap:5px;
    font-size: 14px;
    color: black;
    padding-bottom: 8px;
}

.spec-tag {
    background-color: #063747;
    padding: 6px 6px;
    border-radius: 4px;
    font-size: 14px;
    color: #237792;
    /* border: 1px solid #ddd; */
    display: inline-block;
}

.no-specs {
    color: #999;
    font-style: italic;
    font-size: 12px;
}


.price {
    font-size: 20px;
    font-weight: bold;
    color: #4fffed;
}

.rattingprice {
    display: flex;
    position: relative;
    align-items: center;
    height: 20px;
    margin-bottom: 8px;
}

.ratting {
    margin: 0;
}

.ratting p {
    color: #ffffff;
    font-weight: bold;
}

.price {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    gap: 10px;
    font-size: 16px;
    color: #4fffed;
}

.price-container {
    display: flex;
    align-items: flex-end;
    position: relative;
    font-family: 'Jakarta Plus S';
    gap: 5px;
}

.price .original-price {
    text-decoration: line-through;
    color: #08485D;
    font-size: 12px;
    margin-bottom: 2px;
}

.price .discounted-price {
    color: #4fffed;
    font-weight: bold;
}

.discount-badge {
    position: absolute;
    top: -20px;
    right: 0;
    background-color: #fd6060;
    color: white;
    padding: 2px 6px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
}

.btn-cart-details {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 0 0;
}

.cart button,
.details button {
    text-align: center;
    border-radius: 10px;
    background: #1E4965;
    /* border-color: #144D48; */
    color: white;
    margin-top: 8px;
    padding: 8px 16px;
    height: 36px;
    border: 2px solid #ffffff;
}

.cart button:hover,
.details button:hover {
    background-color: #5FA8D3;
    cursor: pointer;
}

button i,
button i {
    color: #fff;
}

button a {
    color: #fff;
}

.copy {
    color: #08485D;
    text-align: center;
    font-size: 16px;
    padding-bottom: 10px;
    background-color: #011116;
    padding: 10px;
}

.container-1 {
    display: flex;
    justify-content: center;
}


.content-1 {
    margin: 0 50px;
    width: 1360px;
}

.page-detail {
    margin-bottom: 20px;
    /* position: sticky; */
    top: 120px;
    display: flex;
    justify-content: space-between;
    background-color: #031E27;
}   

.page-detail h1 {
    font-size: 30px;

}

.page-detail span{
    color:#4fffed;
}
.content-2 {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 40px 0;
}

.content-2 .card-container {
    width: 1000px;
}

.categories-menu {
    width: 250px;
    background-color: #f4f4f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.category-heading {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}


.categories-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.categories-menu li {
    margin: 10px 0;
}

.categories-menu li a {
    text-decoration: none;
    color: #4a4a4a;
    font-size: 16px;
    font-weight: 500;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.categories-menu li a:hover {
    background-color: #515ca1;
    color: white;
}

.categories-menu li a.active {
    background-color: #515ca1;
    color: white;
    font-weight: bold;
}

.sort-form {
    display: inline-block;
    position: relative;
    z-index: 1;
    /* font-family: 'Arial', sans-serif; */
}

.sort-select {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #d6d6d6;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    transition: border-color 0.3s, background-color 0.3s;
    cursor: pointer;
}

.sort-select:focus {
    outline: none;
    border-color: #4fffed;
    background: linear-gradient(91.96deg, #104456, #1a566a 21.15%, #216877 48.49%, #32989a 73.81%, #4fffed);
}

.sort-select option {
    font-size: 14px;
    padding: 8px 12px;
}

.popup-2 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background: linear-gradient(180deg, #052a36 14.42%, #083747 35.58%, #1a566a 75.96%, #1f6373 83.02%, #24727e 88.38%, #2a848c 94.17%, #349f9f);
    padding: 20px;
    border: 2px solid #4fffed;
    border-radius: 15px;
    position: relative;
    text-align: center;
}

.popup-content p{
    color: #4fffed;
    padding-top: 8px;
}

.option-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    align-items: baseline;
}

.option {
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.color-product2 input[type="radio"],
.option-buttons input[type="radio"] {
    display: none;
}

.color-product2 input[type="radio"]:checked+img,
.option-buttons input[type="radio"]:checked+.specification-label {
    outline: 2px solid #bcbcbc;
}

.specification-label {
    display: inline-block;
    transition: border-color 0.3s;
    cursor: pointer;
    background-color: #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    text-align: center;
    width: 35px;
    padding: 3px;
}

.color-product2 img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1.4px solid #ffffff;
    cursor: pointer;
}

.specification-label input[type="radio"]:checked+.specification-text {
    background-color: #fff;
    color: #000;
    outline: 2px solid #868686;
    padding: 5px 10px;
    border-radius: 5px;
}

.carousel {
    position: relative;
    /* top: 120px; */
    width: 100%;
    max-width: 1350px;
    margin: 50px auto;
    overflow: hidden;
    border-radius: 16px;
    background-color: #00141e;
    /* box-shadow: 0 0 10px rgba(0,0,0,0.5); */
}

.carousel-track {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-slide img {
    width: 100%;
    display: block;
    border-radius: 16px;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: linear-gradient(162.73deg, #2d7970, #53dfce 45.19%, #53dfce 82.65%);
    background: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.carousel-btn p{
    background: linear-gradient(162.73deg, #53dfce, #53dfce 35.19%, #2d7970 82.65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.carousel-btn.left {
    left: 10px;
}

.carousel-btn.right {
    right: 10px;
}

.nav-item.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 120%;
    right: 0;
    background-color: #3C8CA5;
    min-width: 105px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    border-radius: 4px;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-item {
    color: #333;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.nav-item.dropdown li:hover {
    background-color: #cdcdcd;
    color: #333;
}

.nav-item.dropdown li{
    background-color: 3C8CA5;
    color: #333;
    border-radius: 5px;
    border: solid 1px #3C8CA5;
    cursor: pointer;
}

.dashboard-footer {
    background-color: #031E27;
    color: #fff;
    padding-top: 40px;
    margin-top: 40px;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-logo img {
    max-width: 150px;
    margin-bottom: 10px;
}

.footer-logo p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
}

.footer-links h3,
.footer-contact h3,
.footer-social h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: white;
}

.footer-links ul {
    list-style-type: none;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    transition: color 0.2s;
}


.footer-contact p {
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: default;
    pointer-events: none;
}

.social-icons a i {
    color: white;
}

.footer-bottom {
    margin-top: 40px;
    padding: 15px 0;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
}

.dashboard-footer li:hover {
    background-color: #031E27 !important;
    border-radius: 0 !important;
    color: rgba(255, 255, 255, 0.6) !important;
}

.footer-links li:hover {
    background-color: transparent !important;
    border-radius: 0 !important;
}