* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Jost', sans-serif;
    background-color: #f5f5f5;

}

nav {
    display: flex;
    padding: 20px 50px;
    background-color: #1E4965;
    align-items: center;
    justify-content: space-between;
   
}

.img a {
    color: white;
    display: flex;
    text-decoration: none;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
}

nav ul li a{
    text-decoration: none;
    padding: 8px 12px;
    color: white;
    font-size: 18px;
}

li:hover {
    background-color: #5FA8D3;
    border-radius: 5px;
}

.profile-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #d3d3d3;
    margin-left: 10px;
    display: inline-block;
    text-decoration: none;
}

.sidebar {
    width: 300px;
    background-color: #1E4965;
    padding-top: 20px;
    height: 250vh;
    overflow-y: auto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.sidebar-buttons {
    margin-top: 20px;
    max-width: 100%;
    padding: 20px;
}

.sidebar-button {
    width: 200px;
    padding: 10px;
    margin: 5px 30px;
    margin-top: 10px;
    background-color: #d3d3d3;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.main-content {
    flex: 1;
    margin-top: 8px;
    margin-left: 75px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-header h2 {
    margin-top: 40px;
    margin-left: 305px;
    font-size: 24px;
    font-weight: bold;
}

.insert-button {
    margin-top: 40px;
    margin-right: 150px;
    width: 12%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #1E4965;
}

.insert-button a{
    text-decoration: none;
    color: #fff;
}

.tableskategori{
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 8px;
    margin-left: 310px;
    text-align: center;
}

.tableskategori thead{
    background-color: #333;
    color: #fff;
}

.tableskategori th, .tableskategori td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid grey;
}

.tableskategori th {
    font-weight: bold;
}

.tableskategori tbody tr:hover {
    background-color: #f5f5f5;
}

.form-container {
    padding: 20px;
    margin-left: 282px;
    width: 75%;
}

.form-group {
    margin-bottom: 18px;
    position: relative;
    display: flex;
    padding: 8px;
}

.form-group label {
    position: absolute;
    top: -3px;
    left: 10px;
    font-size: 14px;
    color: white;
    background-color: #1E4965;
    border-radius: 5px;
    padding: 0 25px;
}

.form-input {
    width: 100%;
    height: 50px;
    font-size: 14px;
    padding-inline: 20px 50px;
    border: 2px solid black;
    border-radius: 12px;
}

.form-input:focus {
    border-color: #1E4965;
    outline: none;
}

.btn-submit {
    width: 100%;
    padding: 10px;
    background-color: #1E4965;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #5FA8D3;
}
