\* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Jost', sans-serif;
    padding-top: 50px;
    height: 100%;
    overflow: hidden;
}

.container {
    padding-top: 10px;
    position: relative;
    text-align: center;
    color: rgb(83, 83, 83);
    
}
.background-image {
    width: 100%;
    height: 98vh;
    object-fit: cover;
}
.content {
    position: absolute;
    top: 40%;
    left: 25.5%;
    text-align: left;
    border-radius: 15px;
    transform: translate(-50%, -50%);
    background: hwb(195 10% 58% / 0.625);
    color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #32989a;
    max-width: 340px;
    width: 90%;
}

.content h1, h2, span{
    color: #4fffed;
    font-weight: 600;
}

.social-icons {
    margin: 20px 0;
}
.social-icons i {
    margin: 0 10px;
    color: black;
    font-size: 20px;
}
.cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: red;
    border: 1px solid red;
    text-decoration: none;
    font-weight: bold;
}

h1{
    padding-bottom: 20px;
}

h2{
    padding-bottom: 20px;
}

p{
    padding-bottom: 20px;
}