body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #031E27;
    vertical-align: middle;
}

.container{
    display: block;
    max-width: 1500px;
    margin: auto;
    margin-top: 120px;
}

.container-cart {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
    margin: auto;
    margin-top: 0px;
}
.cart-items, .cart-summary {
    flex: 1;
    margin: 10px;
}
.cart-items {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 18px;
}

.cart-item {
    display: flex;
    background: linear-gradient(0deg, #104d62, #0d4355 21.37%, #0c3f50 38.95%, #093240 66.77%, #052631 86.35%, #031e27 98.49%);
    border: 2px solid #135E77;
    box-shadow: 0 1px 4px rgba(141, 150, 170, 0.4);
    border-radius: 10px;
    padding: 15px;
    color: white;
}

.product-image img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    display: block;     
    border-radius: 10px;
}

.product-color img{
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 50%;
    outline: #ffffff solid 2px;
}

.product-color
{
    display: flex;
    gap: 10px;
}

.product-color p{
    color: #000000;
    font-weight: normal;
}

.product-spec {
    background: linear-gradient(91.96deg, #104456, #1a566a 21.15%, #216877 48.49%, #32989a 73.81%, #4fffed);
    color: #ffffff;
    outline: 2px solid #32989a;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 600;
}
.cart-item-details {
    flex: 1;
    margin-left: 20px;
}
.item-details {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .item-details h4 {
    margin: 0;
    font-weight: bold;
    color: #ffffff;
    font-size: 24px;
  }
  
  .cart-item-controls p {
    color: #000000;
    font-weight: bold;
    font-size: 18px;
  }

  .cart-item-controls {
    min-width: 150px; 
    display: flex;
    gap: 10px;
    margin-left: auto;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    margin: 10px 20px 10px auto;
  }
  
  .cart-item-controls button {
    min-width: 25px;
    height: 25px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #32989a;
    border: none;
    border-radius: 4px;
    padding: 5px 8px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .cart-item-controls .favorite-btn,
  .cart-item-controls .delete-btn {
    background-color: transparent !important;
    border: none;
    cursor: pointer;
    color: #031e27;
    font-size: 32px;
    margin: 10px;
  }

.cart-item-controls input[type="number"] {
    text-align: center;
}

  .delete-btn  {
    width: 20px;
  }
  
  .cart-item-controls .favorite-btn:hover,
  .cart-item-controls .delete-btn:hover {
    background-color: transparent !important;
  }

.cart-item-actions {
    text-align: right;
    padding-right: 10px;
}
.cart-item-actions button {
    height: 23px;
}
.cart-summary {
    max-width: 30%;
    border: 2px solid #107987;
    background: #0b3b4b;
    border-radius: 10px;
    padding: 20px;
    max-height: fit-content ;
}

.empty-cart-message {
    text-align: center;
}   

.empty-cart-message a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    background-color: #1a566a;
    margin-bottom: 10px 0;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
   
}

.empty-cart-message a:hover{
    color: #1a566a;
    background-color: #34b4aa;
}
.title{
    margin-left: 30px;
}
.summary-title {
    font-weight: bold;
    margin-bottom: 10px;
}
.summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.promo-code {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.promo-code input {
    flex: 1;
    padding: 5px;
    margin-right: 10px;
}
.promo-code input[type="text"]:focus::placeholder{
    padding: 6px;
    color: #fff;
    transition: color 0.4s;
    margin-right: 10px;
    border: none;
    width: 700px;
    height: 30px;
    border-radius: 4px;
}

.checkout-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.checkout-buttons a {
    padding: 10px 20px;
    font-weight:bold;
    background-color:#2b5672;
    background: linear-gradient(91.96deg, #104456, #1a566a 21.15%, #216877 48.49%, #32989a 73.81%, #4fffed);
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    outline: 2px solid #32989a;
    border-radius: 5px;
}

.checkout-buttons a:hover {
    color: #ffffff;
    background-color: #5182a3;
}

.checkout-buttons a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
}

.checkout-enabled {
    background-color: #6484cf;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.checkout-enabled:hover {
    background-color: #3f5485;
}

.checkout-disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

.btn {
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.btn-secondary {
    background-color: #007bff;
}

.cart-item-controls input{
    width: 35px; 
    height: 25px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 2px;
    margin: 0 5px;
}

.cart-item-controls button{
    font-weight: bold;
}

.discount-price {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 12px;
}

.original-price {
    text-decoration: line-through;
    color: #107987;
    font-size: 18px;
}

.discounted-price {
    font-weight: bold;
    font-size: 24px;
    color: #4fffed;
}

.discount-badge-2{
    right: 0;
    background-color: #fd6060;
    color: white;
    padding: 2px 6px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: bold;
}

.quantity-form{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}